*{
    text-align: center;
}
h1{
    font-size: 50px;
}
input{
    background-color: gainsboro;
    font-size: 45px;
    border-radius: 10%;
    margin: 12px;
    padding-bottom: 50px;
    text-align: center;
    height: 50px;
    width: 80px;
    border: ridge black;
    
}    
.dis{
    width: 400px;
    height: 70px;
    border-radius: 0%;
    background-color: aliceblue;
    padding: 0%;
}
.p{
    background-color: aliceblue;
}
input:hover{
    background-color: grey;
}